.sidebar {
  width: 0;
  height: calc(100vh - 60px);
  background-color: #00a67e;
  color: white;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.menuContent {
  margin-top: 20px;
  width: 100%;
}

.menuList {
  list-style: none;
  padding: 0;
  width: 100%;
}

.menuItem {
  padding: 15px 20px;
  cursor: pointer;
  a {
    height: 100%;
    width: 100%;
  }
  &:hover {
    background-color: #007f61;
  }
}

.open {
  width: 250px;
}

.closed {
  width: 0;
}
